In [1]:
import pandas as pd

In [2]:
data_full = pd.read_csv(r'movies_metadata.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
df_ratings = pd.read_csv(r'ratings_small.csv')

In [5]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [6]:
import numpy as np
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan

In [7]:
data_full['id'] = data_full['id'].apply(convert_int)

In [8]:
data_full = data_full.drop([19730, 29503, 35587])
data_full['id'] = data_full['id'].astype('int')

In [9]:
df_movie_rate = data_full.merge(df_ratings,left_on='id',right_on='movieId')

In [15]:
df_movie_rate.tail(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,userId,movieId,rating,timestamp
44989,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,64197,tt1047845,ru,Puteshestvie s domashnimi zhivotnymi,Plucked from an orphanage as a literal love sl...,...,Released,NaN,Travelling with Pets,False,6.0,5.0,73,64197,4.0,1441513491
44990,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,64197,tt1047845,ru,Puteshestvie s domashnimi zhivotnymi,Plucked from an orphanage as a literal love sl...,...,Released,NaN,Travelling with Pets,False,6.0,5.0,544,64197,5.0,1435789819
44991,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,64197,tt1047845,ru,Puteshestvie s domashnimi zhivotnymi,Plucked from an orphanage as a literal love sl...,...,Released,NaN,Travelling with Pets,False,6.0,5.0,648,64197,3.5,1241951834
44992,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,98604,tt2147597,ru,Zolushka,"Masha Krapivina - is yet beautiful, and not th...",...,Released,NaN,Cinderella,False,4.6,6.0,352,98604,4.0,1420521986
44993,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,Released,NaN,The One-Man Band,False,6.5,22.0,187,49280,5.0,1228072108

In [11]:
def find_count_mean_rating(imdb_id):
    count_rate = df_movie_rate.loc[df_movie_rate.imdb_id==imdb_id].rating.count()
    mean_rate = df_movie_rate.loc[df_movie_rate.imdb_id==imdb_id].rating.mean()
    return {count_rate:mean_rate}

In [16]:
x = find_count_mean_rating('tt0135453')

In [17]:
print(x.keys())

dict_keys([1])

In [18]:
print(x.values())

dict_values([5.0])

Part B

In [13]:
df_movie_rate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44994 entries, 0 to 44993
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  44994 non-null  object
 1   belongs_to_collection  10793 non-null  object
 2   budget                 44994 non-null  object
 3   genres                 44994 non-null  object
 4   homepage               10959 non-null  object
 5   id                     44994 non-null  int32
 6   imdb_id                44994 non-null  object
 7   original_language      44994 non-null  object
 8   original_title         44994 non-null  object
 9   overview               44857 non-null  object
 10  popularity             44994 non-null  object
 11  poster_path            44958 non-null  object
 12  production_companies   44994 non-null  object
 13  production_countries   44994 non-null  object
 14  release_date           44965 non-null  object
 15  revenue                44994 non-null  float64
 16  runtime                44990 non-null  float64
 17  spoken_languages       44994 non-null  object
 18  status                 44993 non-null  object
 19  tagline                31516 non-null  object
 20  title                  44994 non-null  object
 21  video                  44994 non-null  object
 22  vote_average           44994 non-null  float64
 23  vote_count             44994 non-null  float64
 24  userId                 44994 non-null  int64
 25  movieId                44994 non-null  int64
 26  rating                 44994 non-null  float64
 27  timestamp              44994 non-null  int64
dtypes: float64(5), int32(1), int64(3), object(19)
memory usage: 9.8+ MB

In [19]:
def create_dataset_mean_count(imdb_id_list):
    df = pd.DataFrame(columns=['movieId','movieName','number_of_rate','mean_of_rate'])
    for imdb_id in imdb_id_list:
        count_rate = df_movie_rate.loc[df_movie_rate.imdb_id==imdb_id].rating.count()
        mean_rate = df_movie_rate.loc[df_movie_rate.imdb_id==imdb_id].rating.mean()
        movie_name = df_movie_rate.loc[df_movie_rate.imdb_id==imdb_id].title.unique()[0]
        movie_id = df_movie_rate.loc[df_movie_rate.imdb_id==imdb_id].id.unique()[0]
        df = df.append({'movieId':movie_id,'movieName':movie_name,'number_of_rate':count_rate,'mean_of_rate':mean_rate},ignore_index=True)
    df.to_csv('report.csv')

In [20]:
my_list = ['tt0113277','tt0135453']
create_dataset_mean_count(my_list)